node_modules/
.next/
out/
build/
coverage/
.vercel/

# env
.env
.env*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
